.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 20%;
  margin: 15px;
}

.buttons {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  content: icon;
  font-size: 50px;
  border-radius: 25px;
}
