#Body {
  background-color: rgb(32, 178, 69);
}

#firstDiv {
  background-color: white;
  margin: auto;
  padding: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  width: 25%;
}

#name {
  margin: 10px;
  width: 80%;
  transform: translateX(5%);
}

#password {
  margin: 10px;
  width: 80%;
  transform: translateX(2%);
}

#btn {
  width: 80%;
  background-color: lightgreen;
  transform: translateX(10%);
}
